@model Tuple<string,OOAD_Projekat.Models.Chat, OOAD_Projekat.Models.ChatModels.UserRole>

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/chat_style.css" />

<div class="details-page-content">
    <div class="heading-content">
        <h1>@Model.Item2.ChatName</h1>
        <div class="dropdown">
            <button class="dropbtn">Edit</button>
            <div class="dropdown-content">
                @if (Model.Item3 == OOAD_Projekat.Models.ChatModels.UserRole.ADMIN)
                {
                    <form asp-controller="Chats" asp-action="DeleteChat">
                        <input type="hidden" name="id" value="@Model.Item2.Id" />
                        <button type="submit">Delete Chat</button>
                    </form>
                }
                else
                {
                    <form asp-controller="Chats" asp-action="DeleteUser">
                        <input type="hidden" name="UserId" value="@Model.Item1">
                        <input type="hidden" name="ChatId" value="@Model.Item2.Id" />
                        <button type="submit">Leave Chat</button>
                    </form>
                }

                <div class="dropdown">
                    <button class="dropbtn">Chat Users</button>
                    <div class="dropdown-content">
                        @foreach (var item in Model.Item2.Users)
                        {
                            if (item.User.UserName == User.Identity.Name) continue;
                            <div>
                                <p>@item.User.UserName</p>
                                @if (Model.Item3 == OOAD_Projekat.Models.ChatModels.UserRole.ADMIN)
                                {
                                    <form asp-controller="Chats" asp-action="DeleteUser">
                                        <input type="hidden" name="UserId" value="@item.UserId" />
                                        <input type="hidden" name="ChatId" value="@item.ChatId" />
                                        <button type="submit">Delete</button>
                                    </form>
                                }
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my-container">
        <div class="chat_list">
            <div id="messagesList" class="msg_history">
                @foreach (var item in Model.Item2.Messages)
                {
                    if (!item.Name.Equals(User.Identity.Name))
                    {
                        <div class="incoming_msg">
                            <div class="incoming_msg_img">
                                <img src="https://png2.cleanpng.com/sh/be076cd9cc0a704b0fbdb233c307e4cf/L0KzQYm3V8AzN6lAepH0aYP2gLBuTfNwdaF6jNd7LXnmf7B6TgV0baMyfNHCbnzycbW0hv9vfF5mj9d8b33oPYbpUBEzbpNpeaYENUW4Poq8UsY2OGkASac8MEW2SYq9VcY4PGMziNDw/kisspng-computer-icons-user-download-font-awesome-5b3a2fbda49555.9526508915305399656742.png" alt="Missing picture" />
                            </div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <span class="time_date">@item.Name</span>
                                    <p>@item.Text</p>
                                    <span class="time_date">@item.Timestamp.ToShortTimeString()</span>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>@item.Text</p>
                                <span class="time_date">@item.Timestamp.ToShortTimeString()</span>
                            </div>
                        </div>

                    }
                }
            </div>
            <div class="type_msg" onsubmit="event.preventDefault()">
                <form id="messageForm">
                    <input id="chatInput" type="hidden" name="chatId" value="@Model.Item2.Id" />
                    <input id="userInput" type="hidden" name="name" value="@User.Identity.Name" />
                    <div class="my-row">
                        <input id="messageInput" type="text" name="text" class="write_msg" placeholder="Type a message" />
                        <button id="sendMessageButton" class="msg_send_btn" type="button">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<script src="~/js/notifications.js"></script>
<script type="text/javascript">
    var element = document.getElementById("messagesList");
    element.scrollTop = element.scrollHeight;
    var saveMessage = function () {
        $.post({
            url: '@Url.Action("SendMessage", "Chats")',
            data: {
                chatId: $("#chatInput").val(),
                name: $("#userInput").val(),
                text: $("#messageInput").val()
            },
            success: null,
            error: null
        })
        sendMessageSR()
    }

    document.getElementById("messageInput").addEventListener("keyup", function (event) {
        event.preventDefault();
        //enter click
        if (event.keyCode === 13) saveMessage();
     });

    document.getElementById('sendMessageButton').addEventListener('click', saveMessage);
</script>
