@model Tuple<string, List<OOAD_Projekat.Models.Chat>, List<bool>>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/chat_style.css" />

<body>
    <div class="container">
        <h3 class=" text-center">Messaging</h3>
        <!--For notifications-->
        <input type="hidden" id="userId" value="@Model.Item1" />
        <input type="hidden" id="signalRConnectionId" />
        <!--For notifications-->
        <div class="individual_user">
            <div class="headind_srch">
                <div class="recent_heading">
                    <h4>Recent</h4>
                </div>
                <div class="srch_bar">
                    <form asp-controller="Chats" asp-action="SearchForChat">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" name="ChatName" placeholder="Search">
                            <button class="input-group-addon" type="submit">Search</button>
                        </div>
                    </form>
                </div>
                <a asp-controller="Chats" asp-action="Create"><button type="button">Create new</button></a>
            </div>

            <div class="inbox_chat">
                @for(int i = 0; i < Model.Item2.Count(); ++i)
                {
                    var item = Model.Item2[i];
                    string idNotif = "chatNotif" + item.Id;
                    var datumZadnjePoruke = "";
                    if (item.Messages.Count() > 0) datumZadnjePoruke = item.Messages[item.Messages.Count() - 1].Timestamp.ToShortDateString();
                    var imalPoruke = Model.Item3[i];
                    var klasaZaNotifikaciju = imalPoruke ? "my_notification" : "my_hidden";
                    <a asp-controller="Chats" asp-action="Details" asp-route-id="@item.Id">
                        <div class="select_chat_list">
                            <div class="chat_people">
                                <div class="chat_img"> <img src="~/images/chat-svgrepo-com.svg" alt="chat-image"> </div>
                                <div class="chat_ib">
                                    <h5> @item.ChatName <span class="chat_date">@datumZadnjePoruke</span></h5>
                                </div>
                                <img id="@idNotif" src="~/images/notification.svg" width="25" class="@klasaZaNotifikaciju" />

                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </div>
</body>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/notifications.js"></script>
