@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/template.css" />
    <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-fill fixed-top">
        <a class="navbar-brand mr-auto" asp-controller="Question" asp-action="Index">Bitstack</a>
        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item d-lg-none">
                    <a class="nav-link" asp-controller="Question" asp-action="Index">Questions</a>
                </li>
                <li class="nav-item d-lg-none">
                    <a class="nav-link" asp-controller="Tag" asp-action="Index">Tags</a>
                </li>
                <li class="nav-item d-lg-none">
                    <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                </li>
                <li class="nav-item d-lg-none">
                    <a class="nav-link" asp-controller="Home" asp-action="Statistics">Statistics</a>
                </li>
                <div class="dropdown-divider"></div>

                <div class="nav-item dropdown d-lg-none mb-3 mb-md-0">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name!</a>
                            <a class="dropdown-item" asp-controller="Chats" asp-action="Index">Messages</a>
                            <a class="dropdown-item" asp-controller="Question" asp-action="Index">My Questions</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Question", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </a>
                        }
                        else
                        {
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        }
                    </div>
                </div>
            </ul>
            <ul class="navbar-nav ml-auto mr-auto w-50 my-class-w-100">
                <li class="nav-item">
                    <form class="search-wrapper">
                            <div class="input-group">
                                <input class="form-control py-3 border-right-0 border my-input"
                                       type="search"
                                       autocomplete="off"
                                       placeholder="Search..."
                                       id="search-input" />
                                <span class="input-group-prepend">
                                    <div id="search-button" class="input-group-text bg-transparent">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </span>
                            </div>
                            <ul class="search-results">
                            </ul>
                    </form>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mr-2">
                <li class="nav-item dropdown d-none d-lg-block ml-0 pl-0">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="navbarDropdown"
                       role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name!</a>
                            <a class="dropdown-item" asp-controller="Chats" asp-action="Index">Messages</a>
                            <a class="dropdown-item" asp-controller="Question" asp-action="MyQuestions">My Questions</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Question", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </a>
                        }
                        else
                        {
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        }
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="wrapper">
        @if (!Url.Action().Contains("About") && !Url.Action().Contains("Login") && !Url.Action().Contains("Register") && !Url.Action().Contains("Identity/Account"))
        {
            <div class="sidebar d-none d-lg-block ml-0 pl-0 bg-light pt-3 pl-3">
                <ul class="list-unstyled components">
                    <li class="mb-3">
                        <a asp-controller="Question" asp-action="Index">Questions</a>
                    </li>
                    <li class="mb-3">
                        <a asp-controller="Tag" asp-action="Index">Tags</a>
                    </li>
                    <li class="mb-3">
                        <a asp-controller="Home" asp-action="About">About</a>
                    </li>
                    <li class="mb-3">
                        <a asp-controller="Home" asp-action="Statistics">Statistics</a>
                    </li>
                </ul>
            </div>
        }
        @{
            var className = @Url.Action().Contains("Manage") || @Url.Action().Contains("RegisterConfirmation") || Url.Action().Contains("Identity/Account") ? "container" : "content";
            <div class=@className>
                @RenderBody()
            </div>
        }
    </div>

    @*    <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - OOAD_Projekat - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
<script type="text/javascript">
            $(function () {
                const pretraga = (event) => {
                    event.preventDefault();
                    let searchParam = $("#search-input").val();

                        $.post({
                            url: '@Url.Action("SaveSearchTerms", "Statistic")',
                            data: {
                                searchParam: searchParam
                            },
                            success: null,
                            error: null
                        })
                        // Prebaci na pitanja
                        window.location.href = '@Url.Action("Find", "Question")' + '?searchParam=' + searchParam;
                }
                $("#search-button").click((event) => pretraga(event));
                document.getElementById("search-input").addEventListener('keydown', (event) => {
                    if (event.keyCode === 13) {
                        pretraga(event);
                    }
                });
                const delay = (callback, ms) => {
                    let timer = 0;
                    return function () {
                        let context = this, args = arguments;
                        clearTimeout(timer);
                        timer = setTimeout(function () {
                            callback.apply(context, args);
                        }, ms || 0);
                    };
                }
                // TODO - linkovi moraju voditi na detalje pitanja!
                $('#search-input').keyup(delay(function (e) {
                    axios.get("@Url.Action("SuggestBasedOnSearchInput", "Suggestion")", {
                        params: {
                            searchParam: $('#search-input').val()
                        }
                    }).then((res) => {
                        // Obrisi stari sadrzaj pretrage
                        const searchResult = $(".search-results");
                        searchResult.empty();
                        // Dodaj novi sadrzaj pretrage
                        const data = res.data;
                        for (let i = 0; i < data.length; i++) {
                            searchResult.append(`<li>${data[i].title}</li>`);
                        }
                        if (searchResult.length > 0) {
                            searchResult.css("display", "block");
                        }
                        else {
                            searchResult.css("display", "none");
                        }
                    }).catch((err) => { });
                }, 200));

                $(".search-results").hover(
                    () => { $(".search-results").css("display", "block"); },
                    () => { $(".search-results").css("display", "none"); }
                )
                $(document).click((e) => {
                    if ($(e.target).closest(".search-results").length > 0) return false;
                    $(".search-results").css("display", "none");
                });
            });
</script>
</body>
</html>
