@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Question
@{
    ViewData["Title"] = "Details";
}
<script src="~/js/axios.min.js"></script>
<link href="~/css/questionDetails.css" rel="stylesheet" type="text/css" />
<div class="questions-details-page-content">
    <!--For notifications-->
    <input type="hidden" id="userId" value="@Model.User.Id" />
    <input type="hidden" id="signalRConnectionId" />
    <!--For notifications-->
    <div class="my-question">
        <div class="my-question-rating">
            <a class="my-rating-buttons my-rating-button-up">
                <img src="~/images/plus.svg" />
            </a>
            @{
                var item = Model.ratingCalculate.CalculateRating();
                <span class="my-rating-total my-positive">@(item.Item1 - item.Item2)</span>
            }
            <!--ovdje dodat on click da ima rejtinga kakvog onclick="sendReaciton("@Model.Id",@PostType.QUESTION,@ReactionType.DISLIKE)"-->
            <a class="my-rating-buttons my-rating-button-down">
                <img src="~/images/minus.svg" width="15" height="15" />
            </a>
        </div>
        <div class="my-question-info">
            <span class="my-question-title">@Model.Title</span>
            <div class="my-question-content">
                @Model.Content
            </div>
            <div class="my-question-tags">
                @foreach (var tag in Model.Tags)
                {
                    <a class="my-tag" asp-action="ByTag" asp-controller="Question" asp-route-tagName="@tag.Tag.TagContent">
                        @tag.Tag.TagContent
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="my-answers">
        <div class="my-answer-number">@Model.Answers.Count() Anwsers</div>
        @foreach (var anwser in Model.Answers)
        {
            <div class="my-answer">
                <div class="my-answer-rating">
                    <a class="my-rating-buttons my-rating-button-up">
                        <img src="~/images/plus.svg" />
                    </a>
                    <span class="my-rating-total my-negative">@anwser.ratingCalculate.CalculateRating().Item3</span>
                    <a class="my-rating-buttons my-rating-button-down">
                        <img src="~/images/minus.svg" width="15" height="15" />
                    </a>
                </div>
                <div class="my-answer-info">
                    <div class="my-answer-content">
                        @anwser.Content
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="my-add-answer">
        <p class="my-add-answer-heading">Your Answer:</p>
        <form class="my-add-answer-form">
            <textarea class="input-answer" placeholder="Enter your answer here"></textarea>
            <button type="submit" class="submit-answer-button">Submit Answer</button>
        </form>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        const submitForm = (e) => {
            e.preventDefault();
            const content = $(".input-answer").val();

            const formData = new FormData();
            formData.append("content", content);
            formData.append("questionID", @Model.Id);

            axios({
                method: "post",
                url: "@Url.Action("AddAnswer","Answer")",
                data: formData,
                headers: { "Content-Type": "multipart/form-data" },
            })
            .then((res) => {
                // U slucaju uspjeha, refreshovat stranicu
                console.log(res);
                location.reload();
            })
            .catch((err) => {
                // Ukoliko korisnik nije loginan a zeli komentarisati
                window.location.replace("/Identity/Account/Login");
            })
        }
        $(".submit-answer-button").click(submitForm);
    });

    var sendReaciton = function (postId, postType, reactionType) {
        $.post({
            url: '@Url.Action("AddReaction", "Question")',
            data: {
                questionId: @Model.Id,
                postId: postId,
                postType: postType,
                reactionType: reactionType
            },
            success: null,
            error: null
        })
        sendMessageSR()
    }

</script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/notifications.js"></script>