@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model DetailsViewModel
@{
    ViewData["Title"] = "Details";
}
<!-- LIKE 0, DISLIKE 1-->
<!-- QUESTION 0, ANSWER 1-->


<script src="~/js/axios.min.js"></script>
<link href="~/css/questionDetails.css" rel="stylesheet" type="text/css" />
<div class="questions-details-page-content">
    <!--For notifications-->
    <input type="hidden" id="userId" value="@Model.Question.User.Id" />
    <input type="hidden" id="signalRConnectionId" />
    <!--For notifications-->
    <div class="my-question">
        <div class="my-question-rating">

            <!-- Znacenje parametara Slanje reakcije na question 0 i like 0-->
            <a class="my-rating-buttons my-rating-button-up" asp-action="AddReaction" asp-controller="Question" asp-route-questionID="@Model.Question.Id" asp-route-postId="@Model.Question.Id" asp-route-postType="0" asp-route-reactionType="0">
                <img src="~/images/plus.svg" />
            </a>
            @{
                var item = Model.Question.ratingCalculate.CalculateRating();
                var questionRating = item.Item1 - item.Item2;
                var questionRatingClassName = questionRating >= 0 ? "my-positive" : "my-negative";
                <span class="my-rating-total @questionRatingClassName">@questionRating</span>
            }
            <!-- Znacenje parametara Slanje reakcije na question 0 i dislike 1-->
            <a class="my-rating-buttons my-rating-button-down" asp-action="AddReaction" asp-controller="Question" asp-route-questionID="@Model.Question.Id" asp-route-postId="@Model.Question.Id" asp-route-postType="0" asp-route-reactionType="1">
                <img src="~/images/minus.svg" width="15" height="15" />
            </a>
        </div>
        <div class="my-question-info">
            <span class="my-question-title">@Model.Question.Title</span>
            <div class="my-question-content">
                @Model.Question.Content
            </div>
            <div class="my-question-tags">
                @foreach (var tag in Model.Question.Tags)
                {
                    <a class="my-tag" asp-action="ByTag" asp-controller="Question" asp-route-tagName="@tag.Tag.TagContent">
                        @tag.Tag.TagContent
                    </a>
                }
            </div>
        </div>
    </div>
    <div class="my-answers">
        <div class="my-answer-number">@Model.Question.Answers.Count() Anwsers</div>
        @foreach (var anwser in Model.Question.Answers)
        {
            <div class="my-answer">
                <div class="my-answer-rating">
                    <a class="my-rating-buttons my-rating-button-up" asp-action="AddReaction" asp-controller="Question" asp-route-questionID="@Model.Question.Id" asp-route-postId="@anwser.Id" asp-route-postType="1" asp-route-reactionType="0">
                        <img src="~/images/plus.svg" />
                    </a>
                    <span class="my-rating-total my-negative">@anwser.ratingCalculate.CalculateRating().Item3</span>
                    <a class="my-rating-buttons my-rating-button-down" asp-action="AddReaction" asp-controller="Question" asp-route-questionID="@Model.Question.Id" asp-route-postId="@anwser.Id" asp-route-postType="1" asp-route-reactionType="1">
                        <img src="~/images/minus.svg" width="15" height="15" />
                    </a>
                </div>
                <div class="my-answer-info">
                    <div class="my-answer-content">
                        @anwser.Content
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="my-add-answer">
        <p class="my-add-answer-heading">Your Answer:</p>
        <form class="my-add-answer-form">
            <textarea class="input-answer" placeholder="Enter your answer here"></textarea>
            <button type="submit" class="submit-answer-button">Submit Answer</button>
        </form>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/notifications.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {

        const submitForm = (e) => {
            e.preventDefault();
            const content = $(".input-answer").val();

            const formData = new FormData();
            formData.append("content", content);
            formData.append("questionID", @Model.Question.Id);

            axios({
                method: "post",
                url: "@Url.Action("AddAnswer","Answer")",
                data: formData,
                headers: { "Content-Type": "multipart/form-data" },
            })
            .then((res) => {
                // U slucaju uspjeha, refreshovat stranicu
                console.log(res);
                location.reload();
            })
            .catch((err) => {
                // Ukoliko korisnik nije loginan a zeli komentarisati
                window.location.replace("/Identity/Account/Login");
            })
        }
        $(".submit-answer-button").click(submitForm);
    });

</script>
